.cardContainer{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 100px 150px;
    gap: 20px 30px;
}
.cardElements{

}
.cardImg{
    width: 100%;
    border-radius: 5%;
}
.cardQuantityContainer{
    width: fit-content;
    margin: auto !important;
    background-color: #442549;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    margin: 0px;
    transform: translate(10, -50%);

}
.cardQuantity{
    color: white;
    font-size: 1.6em;
}