.cardContainer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 100px 150px;
  gap: 20px 30px;
}
.cardElements {
}

.cardImg {
  width: 100%;
  border-radius: 5%;
}

.cardQuantityContainer {
  width: 50%;
  height: 11%;
  margin: auto !important;
  background-color: #c7863d;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  font-size: 10px;
}

.cardQuantity {
  color: white;
  font-size: 1.6em;
}

.cardQuantityText {
  color: white;
  font-size: 3em;
}

/*CARDS BY ID*/
.cardImgShowSpecifikCard:hover {
  border-color: gold;
  cursor: pointer;
  box-shadow: 0 0 10px gold;
}

.cardImgShowSpecifikCard:active {
  scale: 0.9;
}

.plus-minus-quantity {
  background: none;
  border: none;
}
.plus-quantity-symbol .minus-quantity-symbol {
  font-size: 30px;
  font-weight: 500;
}

.plus-quantity {
  border-bottom-right-radius: 100%;
}

.minus-quantity {
  border-bottom-left-radius: 100%;
}

.plus-quantity:hover {
  scale: 1.1;
}

.minus-quantity:hover {
  scale: 1.1;
}
.plus-quantity-symbol:hover {
  font-weight: 600;
}

.minus-quantity-symbol:hover {
  font-weight: 600;
}

.plus-quantity:active {
  scale: 0.9;
}

.minus-quantity:active {
  scale: 0.9;
}
