.showAll-parent {
  padding-bottom: 30px;
  margin-top: 30px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: auto;
  min-width: 750px;
  max-width: 90%;
  grid-gap: 1rem;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 0.1fr 1fr;

  background-color: #121212;
  border: 3px solid #1e1e1e;
  box-shadow: 0 0 100px black;
  border-radius: 20px;

  padding: 1rem;

  height: 80vh;
  overflow: hidden;
}

.showAll-title-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.showAll-title {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  grid-template-rows: 1fr;
}

/*-----SEARCHBAR-----*/
.showAll-searchbar {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myCollections-searchbar {
  width: 100%;
  height: 5vh;
  border-radius: 1.625rem;
  text-align: center;
  background-color: #303030;
  color: #e1e1e1;
  outline: none;
  border: none;
}

/*-----SEARCHBAR-----*/

.addCardToCollectionById {
  padding-left: 50%;
}

.showAll-modal-byId {
  padding: 30px 0px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
  /*grid-template-rows: 1fr 1fr;*/
  /*grid-template-rows: repeat(auto-fill, minmax(13%, 1fr));*/
}

.showAll-modal {
  padding: 30px 0px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.showAll-display-elements {
  border: 4px solid #fab565;
  border-radius: 20px;
  align-items: center;

  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
  overflow: hidden;
  height: 150px;
}

.showAll-display-elements:hover {
  border: 5px solid #ffffff !important;
  cursor: pointer;
  scale: 1.1;
}
.showAll-display-elements:active {
  scale: 1;
  background-color: #1e1e1e6b;
}

.showAll-display-elements-name {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 50%;
  font-size: 25px;
  padding-bottom: 5%;
  width: 100%;
  height: 70px;
  background-color: #fab565;
  border: 4px solid #fab565;
  color: #121212;
  font-weight: 700;
}
.showAll-display-elements-description {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  justify-self: center;
  font-size: 14px;
  width: 90%;
  height: 100%;
  color: #aaaaaa;
}

.showAll-display-elements-type {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
  width: 100%;
  height: 30%;
  margin-bottom: 0;
  background-color: #fab565;
  color: #121212;
  font-weight: 700;
}

.showAll-modal-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  margin-top: 1vh;
  grid-template-columns: 100px minmax(500px, 1fr) 100px;
  overflow: hidden;
}

.rightArrowSlide,
.leftArrowSlide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}
.rightArrowSlide {
  right: 10px;
}
.leftArrowSlide {
  left: 10px;
}
.rightArrowSlide:hover {
  opacity: 1;
  cursor: pointer;
  right: 0px;
}
.leftArrowSlide:hover {
  opacity: 1;
  cursor: pointer;
  left: 0px;
}

.leftArrowSlide:active {
  scale: 0.9;
  color: #e1e1e1b9;
}
.rightArrowSlide:active {
  scale: 0.9;
  color: #e1e1e1b9;
}

.titleAndButtonsGrid {
  position: relative;
  float: right;
}

.deckByIdButtons {
  position: relative;
  float: right;
  background-color: transparent;
  border-radius: 10px;
  color: #e1e1e1;
  border: 3px solid #e1e1e1;
  text-align: center;
}

.createCardButton {
  position: relative;
  float: right;
  background-color: transparent;
  border-radius: 10px;
  color: #e1e1e1;
  border: 3px solid #e1e1e1;
  text-align: center;
}

.createCardButtonFont {
  font-weight: 700;
  font-size: 30px;
}

.createCardButton:hover {
  background-color: #e1e1e1;
  color: #121212;
  border-color: #121212;
}
.createCardButton:active {
  background-color: #e1e1e1a6;
  color: #12121295;
  border-color: #12121295;
  scale: 0.9;
}

.shareDeckButton {
  position: relative;
  float: right;
  background-color: transparent;
  border-radius: 10px;
  color: #e1e1e1;
  border: 3px solid #e1e1e1;
}

.shareDeckButton:hover {
  background-color: #e1e1e1;
  color: #121212;
  border-color: #121212;
}
.shareDeckButton:active {
  background-color: #e1e1e1a6;
  color: #12121295;
  border-color: #12121295;
  scale: 0.9;
}

.shiftStatusButton {
  position: relative;
  float: right;
  background-color: transparent;
  border-radius: 10px;
  color: #8bbcee;
  border: 3px solid #e1e1e1;
}

.shiftStatusButton:hover {
  background-color: #e1e1e1;
  color: #121212;
  border-color: #121212;
}
.shiftStatusButton:active {
  background-color: #e1e1e1a6;
  color: #12121295;
  border-color: #12121295;
  scale: 0.9;
}

.shiftStatusButtonPrivate {
  position: relative;
  float: right;
  background-color: transparent;
  border-radius: 10px;
  color: #ee8ba2;
  border: 3px solid #e1e1e1;
}

.shiftStatusButtonPrivate:hover {
  background-color: #e1e1e1;
  color: #121212;
  border-color: #121212;
}
.shiftStatusButtonPrivate:active {
  background-color: #e1e1e1a6;
  color: #12121295;
  border-color: #12121295;
  scale: 0.9;
}

.saveCardButton {
  position: relative;
  float: right;
  background-color: transparent;
  border-radius: 10px;
  color: #e1e1e1;
  border: 3px solid #e1e1e1;
}

.saveCardButton:hover {
  background-color: #e1e1e1;
  color: #121212;
  border-color: #121212;
}
.saveCardButton:active {
  background-color: #e1e1e1a6;
  color: #12121295;
  border-color: #12121295;
  scale: 0.9;
}
