.showAll-parent {
  padding-bottom: 30px;
  margin-top: 30px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: auto;
  min-width: 750px;
  max-width: 90%;
  grid-gap: 1rem;
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: 0.1fr 1fr;

  background-color: #121212;
  border: 3px solid #1e1e1e;
  box-shadow: 0 0 100px black;
  border-radius: 20px;

  padding: 1rem;

  height: 80vh;
  overflow: hidden;
}

.showAll-title-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.showAll-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(16px, 5vw, 32px);
  font-weight: 700;
}

/*-----SEARCHBAR-----*/
.showAll-searchbar {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myCollections-searchbar {
  width: 100%;
  height: 5vh;
  border-radius: 1.625rem;
  text-align: center;
  background-color: #303030;
  color: #e1e1e1;
  outline: none;
  border: none;
}

/*-----SEARCHBAR-----*/

.showAll-modal {
  padding: 30px 0px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));

  /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/
  /*grid-template-rows: 1fr 1fr;*/
  /*grid-template-rows: repeat(auto-fill, minmax(13%, 1fr));*/
}
.showAll-display-elements {
  border: 3px solid orange;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #303030;
}

.showAll-display-elements-name {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  height: 50%;
  width: 100%;
  font-size: 25px;
}
.showAll-display-elements-description {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  height: 50%;
  font-size: 14px;
}
.plus-minus-quantity {
  font-size: 18px;
}

.showAll-modal-container {
  margin-left: auto;
  margin-right: auto;
  display: grid;
  margin-top: 1vh;
  grid-template-columns: 100px minmax(500px, 1fr) 100px;
  overflow: hidden;
}

.rightArrowSlide,
.leftArrowSlide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}
.rightArrowSlide {
  right: 10px;
}
.leftArrowSlide {
  left: 10px;
}
.rightArrowSlide:hover {
  opacity: 1;
  cursor: pointer;
  right: 0px;
}
.leftArrowSlide:hover {
  opacity: 1;
  cursor: pointer;
  left: 0px;
}

.leftArrowSlide:active {
  scale: 0.9;
  color: #e1e1e1b9;
}
.rightArrowSlide:active {
  scale: 0.9;
  color: #e1e1e1b9;
}
