.showAll-parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;

  border: 3px solid red;
}

.showAll-title-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  border: 3px solid purple;
}

.showAll-title {
  border: 3px solid green;
}

.showAll-searchbar {
  border: 3px solid yellow;
}

.showAll-modal {
  border: 3px solid blue;

  max-width: inherit;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
.showAll-display {
  border: 3px solid orange;
}
