.createCard-modal {
  height: 85vh;
  width: 100%;
  display: block;
  position: relative;
  background-color: transparent;
}
.createCard-container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 3%;

  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: ;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgb(45, 32, 47);
  /*height: 85vh;*/
  height: 80vh;
  width: 65%;
  border-radius: 20px;
  border: 4px solid black;
}

/*-----SIDEBAR-----*/
.createCard-sideBar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: inherit;
}
.createCard-sideBar-nested {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.01fr 1fr 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
  height: 99%;
  width: 100%;
  border-right: 4px solid black;
}

.createCard-sideBar-card-nested-title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}
.createCard-sideBar-card-nested {
  width: 100%;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges; /*Giver plads til scrollbar*/
  scrollbar-width: wide;
}

/*------Sidebar saved cards---------------------------------------------------------------------------------------*/

.createCard-sideBar-card-container {
  border-radius: 5px;
  border: solid 5px;
  border-color: #303030;
  width: 100%;
  height: 50px;
  justify-content: center;
  background: transparent;
  margin-bottom: 1.2%;
  position: relative;
  z-index: 3;
}
.createCard-sideBar-card-container:hover {
  border-color: gold;
  cursor: pointer;
  box-shadow: 0 0 10px gold;
}

.createCard-sideBar-card-background-image {
  width: 100%;
  height: 99%;
  object-fit: cover;
  object-position: 80% 15%;
  pointer-events: none;
  position: absolute;
  z-index: 1;
}
.createCard-sideBar-card-image-shadow {
  width: inherit;
  height: 99%;

  pointer-events: none;
  background: linear-gradient(
    90deg,
    rgba(31, 30, 30, 1) 10%,
    rgba(143, 0, 0, 0) 50%,
    rgba(31, 30, 30, 1) 90%
  );
  position: absolute;
  z-index: 2;
}

.createCard-sideBar-card-container-info {
  width: inherit;
  height: 99%;
  position: absolute;
  z-index: 6;
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.2fr 1fr 0.3fr;
  align-items: center;
  justify-items: center;
}

.createCard-sideBar-card-quantity {
  color: gold;
  border: none;
  font-size: 14px;
  font-weight: 700;
  height: 20%;
}

.createCard-sideBar-card-nested-text {
  font-family: "cooperplate, sans-serif";
  font-weight: 900;
  color: white;
  font-size: 12px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.createCard-sideBar-card-btn-remove {
  color: white;
  border: none;
  background: transparent;
}

/*----------------------------------------------------------------------------------------------------*/

/*-----CARD-----
.createCard-sideBar-card-container {
  border-radius: 5px;
  border: solid 5px;
  border-color: #303030;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  background: transparent;
  position: relative;
  margin-bottom: 1.2%;
}
.createCard-sideBar-card-container:hover {
  border-color: gold;
  cursor: pointer;
  box-shadow: 0 0 10px gold;
  padding: auto;
}

.createCard-sideBar-card-background-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 80% 15%;
  pointer-events: none;
}
.createCard-sideBar-card-image-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  background: linear-gradient(
    90deg,
    rgba(31, 30, 30, 1) 10%,
    rgba(143, 0, 0, 0) 50%,
    rgba(31, 30, 30, 1) 90%
  );
}

.createCard-sideBar-card-container-info {
}

.createCard-sideBar-card-quantity {
  color: white;
  border: none;
  height: 100%;
  max-width: 10%;
  position: absolute;
  left: 0;
  top: 15%;
  background: red;
}

.createCard-sideBar-card-nested-text {
  height: 100%;
  width: 80%;
  position: absolute;
  right: 10%;
  top: 10%;

  font-family: "cooperplate, sans-serif";
  font-weight: 900;
  color: white;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.createCard-sideBar-card-btn-remove {
  color: white;
  border: none;
  height: 100%;
  max-width: 20%;
  position: absolute;
  right: 0;
  background: transparent;
}

*/

.createCard-sideBar-card-btn-remove:hover {
  scale: 1.1;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.804);
}

.createCard-sideBar-card-btn-remove:active {
  scale: 0.9;
  color: rgba(255, 255, 255, 0.271);
}
/*SIDEBAR */

/*SIDEBAR SUBMIT BUTTON*/
.createCard-sideBar-btn {
  height: 90%;
  font-size: 18px;
  font-weight: 800;
  border: 2px solid #3e2a41;
  transition: all 0.35s;
  background-color: gold;
  color: #3e2a41;
  cursor: pointer;
  border-radius: 20px;
}
.createCard-sideBar-btn span {
}

.createCard-sideBar-btn:hover {
  background: #271c29;
  border-color: gold;
  color: gold;
}
.createCard-sideBar-btn:active {
  background: #1b131c;
  border-color: rgb(152, 130, 2);
  color: rgb(152, 130, 2);
  scale: 0.95;
}
/*-----SIDEBAR-----*/

/*-----CARDPAGE-----*/
.createCard-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: inherit;
}

/*Cards fra API*/
.createCard-page-cardpage {
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 99%;
  overflow-y: auto;
  scrollbar-gutter: stable both-edges; /*Giver plads til scrollbar*/
  border-radius: 20px;
  border: 10px solid transparent;
}

/*-----CARDPAGE SEARCHBAR-----*/
.searchbar-container {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: center;
  padding: 1%;
}
.createCard-page-searchbar {
  width: 60vh;
  height: 5vh;
  border-radius: 1.625rem;
  text-align: center;
  background-color: #303030;
  color: white;
  outline: none;
  border: none;
}
.searchbar-btn {
  outline: none;
  border: none;
  border-radius: 1.625rem;
  width: 80px;
  margin-left: -5.1rem;
  background-color: #303030;
  color: white;
}
.searchbar-btn:active {
  scale: 0.9;
  color: rgba(255, 255, 255, 0.47);
}

.searchbar-btn span {
  font-weight: 800;
  font-size: 30px;
  padding-top: 5%;
}
.searchbar-btn span:hover {
  color: rgba(255, 255, 255, 0.793);
  scale: 1.1;
}

/*MAGIC CARDS*/
.createCard-page-cardpage-card {
  border-radius: 5%; /*Til shadow omkring kort*/
}

.cardElements {
  border-radius: 5%; /*Til shadow omkring kort*/
}
.cardElements:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px gold;
  cursor: pointer;
}
.cardElements:active {
  transform: scale(1);
  box-shadow: 0 0 30px black;
  cursor: wait;
}
