.createCard-container {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: ;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  background-color: rgb(45, 32, 47);
  height: 85vh;
}

/*-----SIDEBAR-----*/
.createCard-sideBar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: inherit;
}
.createCard-sideBar-nested {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: inherit;
  border: 7px solid black;
  width: 100%;
}
.createCard-sideBar-card-nested {
  width: 100%;
  overflow-y: auto;
}
.createCard-sideBar-card-container {
  border-radius: 5px;
  border: solid 5px;
  border-color: #303030;
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
  background: transparent;
  position:relative;
  margin-bottom: 1%;
}
.createCard-sideBar-card-container:hover {
  border-color: #fff;
  cursor: pointer;
}

.createCard-sideBar-card-background-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 80% 15%;
  pointer-events: none;
}
.createCard-sideBar-card-image-shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  background: linear-gradient(90deg, rgba(31,30,30,1) 10%, rgba(143,0,0,0) 50%, rgba(31,30,30,1) 90%);

}


.createCard-sideBar-card-nested-text {
  height: 100%;
  width: 80%;
  position: absolute;
  right: 10%;
  top: 10%;
  
  font-family: 'cooperplate, sans-serif';
  font-weight: 900;
  color: white;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.createCard-sideBar-card-btn-remove {
  color: white;
  border: none;
  height: 100%;
  width: 10%;
  position: absolute;
  right: 0;
  background: transparent;

}
/*SIDEBAR */

/*SIDEBAR SUBMIT BUTTON*/
.createCard-sideBar-btn {
  font-size: 18px;
  border: 2px solid #333;
  transition: all 0.35s;
  background-color: #3e2a41;
  color: white;
}

.createCard-sideBar-btn:hover {
  background: #271c29;
}
.createCard-sideBar-btn:active {
  background: #1b131c;
}
/*-----SIDEBAR-----*/

/*-----CARDPAGE-----*/
.createCard-page {
  border: 3px solid rgb(27, 1, 223);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: inherit;
}

/*Cards fra API*/
.createCard-page-cardpage {
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: 100%;
  border: 4px solid yellow;
  overflow-y: auto;
}

/*-----CARDPAGE SEARCHBAR-----*/
.searchbar-container {
  width: 100%;
  height: min-content;
  display: flex;
  justify-content: center;
  padding: 1%;
}
.createCard-page-searchbar {
  width: 60vh;
  height: 5vh;
  border-radius: 1.625rem;
  text-align: center;
  background-color: #303030;
  color: white;
  outline: none;
  border: none;
}
.searchbar-btn {
  outline: none;
  border: none;
  border-radius: 1.625rem;
  width: 80px;
  margin-left: -5.1rem;
  background-color: #303030;
  color: white;
}
.searchbar-btn span {
  font-weight: 800;
  font-size: 30px;
}

/*MAGIC CARDS*/
.createCard-page-cardpage-card {
  border-radius: 5%; /*Til shadow omkring kort*/
}

.cardElements {
  border-radius: 5%; /*Til shadow omkring kort*/
}
.cardElements:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px gold;
  cursor: pointer;
}
.cardElements:active {
  transform: scale(1);
  box-shadow: 0 0 30px black;
  cursor: wait;
}
