.createCard-container {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-template-rows: ;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  background-color: rgb(82, 15, 15);
  border: 7px solid black;
  height: 85vh;
}

/*-----SIDEBAR-----*/
.createCard-sideBar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 3px solid rgb(231, 15, 15);
  height: inherit;
}
.createCard-sideBar-nested {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: inherit;
  overflow-y: auto;
  border: 7px solid black;
}
.createCard-sideBar-card-nested {
  display: grid;
  grid-template-rows: 1fr;
  height: 60px; /*SIDEBAR */
}
.createCard-sideBar-card-nested-text{

}

/*Sidebar*/
.createCard-sideBar-card {
  border: 3px solid orange;
  flex: 1;
}
.createCard-sideBar-card-btn-remove {
  width: 10%;
  border: 3px solid rgb(233, 224, 224);
}
/*SIDEBAR SUBMIT BUTTON*/
.createCard-sideBar-btn {
  font-size: 18px;
  border: 2px solid #333;
  transition: all 0.35s;
  background-color: #3e2a41;
  color: white;
}

.createCard-sideBar-btn:hover {
  background: #271c29;
}
.createCard-sideBar-btn:active {
  background: #1b131c;
}
/*-----SIDEBAR-----*/

/*-----CARDPAGE-----*/
.createCard-page {
  border: 3px solid rgb(27, 1, 223);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: inherit;
}

.createCard-page-cardpage {
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  height: inherit;
  border: 4px solid yellow;
  overflow-y: auto;
}

/*-----CARDPAGE SEARCHBAR-----*/
.createCard-page-searchbar {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}


/*MAGIC CARDS*/
.createCard-page-cardpage-card{
  border-radius: 5%; /*Til shadow omkring kort*/
}
.createCard-page-cardpage-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px gold;
  cursor: pointer;
}
.createCard-page-cardpage-card:active {
  transform: scale(1);
  box-shadow: 0 0 30px black;
  cursor: wait;
}
.cardElements {
}
