@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Poppins&display=swap");

body {
  padding: 0;
  margin: 0;
  background-color: #1e1e1e !important;
  color: white !important; /*SLET SENERE*/
}

#navBar {
  background-color: #2d202f;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px black;
}

.navBar-open {
  width: 82%;
}

.navBar-close {
  width: 100%;
}

.rightNav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 500px;
  padding-right: 3%;
  margin-bottom: 0 !important;
}

.rightNav li {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: white;
  padding: 0 30px 0 30px;
}

.leftNav {
  width: 800px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.leftNav-open {
  padding-left: 18%;
  transition: 0.7s;
}

.leftNav-close {
  padding-left: 0;
  transition: 0.7s;
}

.leftNav img {
  padding-left: 5px;
}

.navBarImage {
  width: 200px;
}

.sidebarButton {
  font-size: 45px;
  color: white;
  padding: 0px 30px;
}

.sidebarButton {
  cursor: pointer;
}


/*----- Dropdown Menu -----*/


.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-btn span {
  color: white;
  font-size: 50px;
  /*Størrelse på ikonet*/

}

.dropdown-menu-class {
  box-shadow: 0 0 50px black;
  position: absolute;
  z-index: 1;
  width: 200px;
  height: auto;
  right: 0;
}

.dropdown-content {
  width: 100%;
  height: 18vh;
  background: #1e1e1e;
  position: relative;
  display: none;
}

.dropdown-content-btn{
  color: white;
  font-size: 21px;
  font-weight: 700;
  width: 80%;
  height: 40%;
  border: none;
}
.dropdown-content-btn-login {
  background-color: #2d202f;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dropdown-content-btn-signUp {
  background-color: #2d202f;
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-content-btn-logout{
  background-color: #2d202f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.dropdown-content-btn:hover {
  background-color: #271c29;
  cursor: pointer;
}

.dropdown-content-btn:active{
  background-color: #161117;
}

/*----- Dropdown Menu -----*/

.show {
  /*Slet hvis js ikke bruges*/
  display: block !important;
}

/*Dropdown Login Modal*/
.login-message{
  display: none;

}

.form-outline{
  margin-top: auto !important;
}


/*Dropdown Login Modal*/