.sidebar {
    position: fixed;
    height: 100%;
    background-color: #2d202f;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.7s;
    box-shadow: 0 0 40px black;

    width: 0px;
    overflow: hidden;
    white-space: nowrap;

}


.sidebar-open {
    width: 18%;

}

.sidebar-close {
    width: 0px;
    overflow: hidden;
}

.sidebar-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar h1{
    text-align: center;
    padding: 30px 0px 50px 0px;
}
.sidebar-my-collection div{
    padding: 6px 0px;
    border-top-style: 1px solid;
    border-bottom-style: solid;
}
.deck-name-container, .deck-collection-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.deck-collection-element-container, .deck-name-element-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
