@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Poppins&display=swap");

.sidebar {
  position: fixed;
  height: 100%;
  background-color: #1e1e1e;
  top: 0;
  left: 0;
  z-index: 1;
  transition: 0.7s;
  box-shadow: 0 0 40px black;

  width: 0px;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar-open {
  width: 280px;
}

.sidebar-close {
  width: 0px;
  overflow: hidden;
}

.sidebar-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebar h1 {
  text-align: center;
  padding: 30px 0px 30px 0px;
}
.sidebar-my-collection div {
  padding: 6px 0px;
}
.sidebar-my-collection h2 {
}
.sidebar-my-collection {
  width: 70%;
}
.deck-name-container,
.deck-collection-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.deck-collection-element-container,
.deck-name-element-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.my-collection-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tool-symbol {
  font-size: 30px;
}
.deck-name-element-container p {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.delete-collection-symbol:hover {
  cursor: pointer;
}
.deck-collection-element-container:hover,
.deck-name-element-container:hover {
  background-color: #121212;
  cursor: pointer;
}
.lock-symbol {
  cursor: auto;
}

.deck-collection-element-container p,
.deck-name-element-container p {
  margin-bottom: 0px !important;
}

/*
.deck-collection-element-container:nth-child(2n+1), .deck-name-element-container:nth-child(2n+1){
    border-top: 1px solid;
    border-bottom: 1px solid;
}*/
.deck-collection-element-container,
.deck-name-element-container {
  border-top: 1px solid;
}

.deck-collection-element-container:last-child,
.deck-name-element-container:last-child {
  border-bottom: 1px solid;
}

.my-collection-input {
  width: 85%;
}
.my-collection-input-container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid;
}
.my-collection-input-container {
  margin-bottom: 0rem !important;
}
.my-collection-input-container:hover,
#tool-symbol-deck:hover,
#tool-symbol-collection:hover {
  cursor: pointer;
}

.sidebar h1,
.my-collection-header h3,
.deck-name-element-container p,
.deck-collection-element-container p {
  font-family: "Poppins", sans-serif;
}

.deck-collection-name-container {
  width: 75%;
}
.sidebar-button-container {
  width: 25%;
}
