#specific-card-container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: auto;
  height: 70vh;
  width: 80%;
  background-color: #181a1b;
  border: 3px solid red;
  border-radius: 20px;

  padding: 1rem;
}

#specific-card-header {
    height: 30px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
}

#specific-card-header-title {
    margin-left: 200px;
}

#specific-card-image img {
    
    height: 65vh;
}

#specific-card-page-content {
    display: flex;
    justify-content: space-around;
    
}
#specific-card-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.specific-card-item {
    flex: 1 1 0;
}
